<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">¡Bienvenido!</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Regístrate</small>
          </div>
          <form role="form">
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" [formControl]="Name" placeholder="Name" type="text">
              </div>
              <div *ngIf="Name.invalid && (Name.dirty || Name.touched)">
                <div 
                  *ngIf="Name.errors?.['required']" 
                  style="position: relative; font-size: 0.8rem;"
                >
                  Nombre requerido.
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" [formControl]="Email" placeholder="Email" type="email">
              </div>
              <div *ngIf="Email.invalid && (Email.dirty || Email.touched)">
                <div 
                  *ngIf="Email.errors?.['required']" 
                  style="position: relative; font-size: 0.8rem;"
                >
                  Correo electrónico requerido.
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" [formControl]="Pass" placeholder="Password" type="password">
              </div>
              <div *ngIf="Pass.invalid && (Pass.dirty || Pass.touched)">
                <div 
                  *ngIf="Pass.errors?.['required']" 
                  style="position: relative; font-size: 0.8rem;"
                >
                  Contraseña requerida.
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="button" (click)="onSubmit()" class="btn btn-primary my-4">Create account</button>
            </div>
            <div *ngIf="Error">
              <div class="alert alert-danger">
                ¡Llena el formulario!
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
